
@{ ViewBag.Title = "CheckOut_Success";
                Layout = "~/Views/Shared/_Master.cshtml"; }

<h1 style="text-align:center">Đã thanh toán</h1>

<a s href="@Url.Action("ProductList","ProductCus")">Continue Shopping...</a>

