
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@Html.ActionLink("Tiếp Tục Mua Hàng", "ProductList", "ProductCus")
<h4>Giỏ hàng rỗng ! Xin mời tiếp tục mua hàng</h4>
    

